.link {
  color: #1ecd97;
  font-size: calc(11px + 2vmin);
  position: relative; 
}
.link:hover {
  color: hsla(30.2 100% 50% / 60%);
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.image { 
  position: relative; 
  width: 100%; /* for IE 6 */
}

h2 { 
  position: absolute; 
  top: 100px; 
  left: 0; 
  width: 100%; 
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Component{
  margin: 150px auto 0 auto;
  width: 600px;
}

.App-link {
  color: #42c487;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/** Buttons **/

.btn {
  background-color: transparent;
  border-radius: 2em;
  border: 0.2em solid #1ecd97;
  color: #1ecd97;
  cursor: pointer;
  font-size: 3vmin;
  padding: 0.7em 1.5em;
  text-transform: uppercase;
  transition: all 0.25s ease;
}

.btn:hover {
  background: #1ecd97;
  color: #333;
}

.btn--login {
  margin: 0 auto;
}

body {
  background: #282c34;
}

